/* Colors: */
$main-text: #F0F7EE;
$black: #000;
$light-grey: #e8e8e8;
$gradient-purple: linear-gradient(180deg, rgba(142,93,205,0.6) 0%, rgba(55,243,255,0.2) 100%);
$gradient-purple-light: linear-gradient(180deg, rgba(142,93,205,0.2) 0%, rgba(55,243,255,0.05) 100%);
$gradient-black-cyan: linear-gradient(0, rgba(0,8,10,0.84) 0%, rgba(126, 205, 222, 0.4) 100%);
$gradient-black: linear-gradient(0, rgba(0,8,10,0.84) 58%, rgba(255,255,255,0.14) 86%);
